<div class="p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>QR code generator</h3>
        <div class="d-flex gap-4">
          <input type="text" [(ngModel)]="input" />
          <button class="btn btn-primary" (click)="submitGenerateQr()">
            submit
          </button>
        </div>

        <div>
          <img
            [src]="qrImage"
            alt="QR Image"
            [style.display]="qrImage == undefined ? 'none' : 'block'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
