<div class="p-5 bg-light-subtle">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="card shadow p-3"
          style="height: 380px"
        >
          <h3 class="text-center">QR code generator</h3>
          <div class="d-flex gap-4 justify-content-center">
            <input type="text" [(ngModel)]="input" style="width: 280px;" placeholder="can input anything"/>
            <button class="btn btn-primary" (click)="submitGenerateQr()">
              submit
            </button>
          </div>
        </div>

        <div>
          <img
            [src]="qrImage"
            alt="QR Image"
            [style.display]="qrImage == undefined ? 'none' : 'block'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
